body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    background-image: url('forest.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#message{
    text-align: center;
    margin-bottom: 20px;
    display:none;
}
label {
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#togglePassword {
    cursor: pointer;
    position: relative;
    left:150px;
    top:-40px;
    margin: 0 auto; 
}
.password-container {
    position: relative;
}

p {
    margin-left: 120px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    color: #0c0c0c;
}
#Login-container{
    display:none;
}
#refreshText {
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 14px;
    color: #080808;
    cursor: pointer;
    text-decoration: underline;
}
#Time-container {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: #080808;
}
.form-group{
    display:flex;
  gap:3px;
  margin-right: auto;
}
input.valid{
    border:2px solid green;
}
input.invalid{
    border:2px solid red;
}
#list{
    color:gray;
    font-size: 15px;
}
#requirements{
    text-decoration: none;
    color:gray;
    margin-left:20px;
    cursor:default;
}
#loginmessage{
    display:flex;
    justify-content: center;
    align-items: center;
}
.toggle-form{
    margin: 0 auto;
    display:flex;
    margin-top:1rem;
}
#comingSoonText {
    animation: fadeInOut 2s ease-in-out;
    color: white;
  }

  @keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
  }
  #recommendPassword{
    text-decoration: underline;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    width:100%;
    position:fixed;
    top:0;
    
  }
  
  #navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap:200px;

  }
  #navbar li {
    padding: 0 1rem;
   border-radius: 2px solid #fff;
    
  }
  
  #navbar a {
    color: #fff;
    text-decoration: none;
    
  }
  
  #navbar a:hover {
    color: blanchedalmond;
  }
  
  #navbar ul li:hover > ul {
    /*  DISPLAYS SUB MENU ON HOVER*/
    display: block;
  }

  #navbar ul ul {
    /* SUB MENU */
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  
  #navbar ul ul li {
    /* SUB MENU */
    display: block;
    padding: 5px 10px;
    text-align: center;
  }

